syntax: glob
book-prod/**
.venv/**
book-src/main-template.toc
book-src/main-template.aux
book-src/main-template.fdb_latexmk
book-src/main-template.fls
book-src/main-template.idx
book-src/main-template.log
book-src/main-template.out
